<div class="d-flex justify-content-between">
    <div>
        <h4 class="m-b-20">KDA</h4>
        <h5 class="m-b-20">KILLS: {{me.data.stats.kills}}</h5>
        <h5 class="m-b-20">DEATHS: {{me.data.stats.deaths}}</h5>
        <h5 class="m-b-20">ASSISTS: {{me.data.stats.assists}}</h5>
        <h5 class="m-b-20">VISION: {{me.data.stats.visionScore}}</h5>
    </div>
    <div>
        <h4 class="m-b-20">STATS</h4>
        <h5 class="m-b-20">TOTAL DAMAGE: {{me.data.stats.damage}}</h5>
        <h5 class="m-b-20">TOWER DAMAGE: {{me.data.stats.towerdamage}}</h5>
        <h5 class="m-b-20">GOLD EARNED: {{me.data.stats.goldEarned}}</h5>
        <h5 class="m-b-20">MINIONS KILLED: {{me.data.stats.minionsKilled}}</h5>
    </div>
</div>