<div class="d-flex">
    <div class="m-r-40">
        <h4 class="m-b-10 text-center">{{me.identity.player.summonerName}}</h4>
        <img alt="{{me.identity.champIcon.attrs.alt}}" class="{{me.identity.champIcon.attrs.class}} m-l-10" src="{{me.identity.champIcon.attrs.src}}" style="width: 125px; border-radius: 50%;">
        <h5 class="m-t-10 text-center">Level {{me.data.stats.champLevel}}</h5>
    </div>
    <div class="d-flex align-self-center flex-column">
        <div class="align-self-center">
            <h2 class="text-center">
                <span class="text-primary">
                    {{matchdata.t100.kills}}
                </span> VS 
                <span class="text-danger">
                    {{matchdata.t200.kills}}
                </span>
            </h2>
            <h1 class="text-center">{{result}}</h1>
            <h2 class="text-center">{{time}}</h2>
        </div>
        <div class="align-self-center">
            <img alt="{{me.identity.spell1Icon.attrs.alt}}" class="{{me.identity.spell1Icon.attrs.class}}" src="{{me.identity.spell1Icon.attrs.src}}" style="width: 40px;">
            <img alt="{{me.identity.spell2Icon.attrs.alt}}" class="{{me.identity.spell2Icon.attrs.class}}" src="{{me.identity.spell2Icon.attrs.src}}" style="width: 40px;">
        </div>
    </div>
</div>