<div class="d-flex justify-content-center flex-wrap">
    <div class="m-r-20 align-self-center">
        <!--<img src="../assets/images/icon/income.png" alt="ChampionIcon">-->
        <i class="fa fa-user-circle" style="font-size: 6rem;"></i>
    </div>
    <div class="align-self-center">
        <h6>Player</h6>
        <div>
            <i class="fa fa-square-o" style="font-size: 3rem;"></i>
            <i class="fa fa-square-o" style="font-size: 3rem;"></i>
            <!--<img src="../assets/images/icon/income.png" alt="SummonerSpellIcon1">-->
            <!--<img src="../assets/images/icon/income.png" alt="SummonerSpellIcon2">-->
        </div>
        <div>
            <i class="fa fa-circle-o" style="font-size: 3rem;"></i>
            <i class="fa fa-circle-o" style="font-size: 3rem;"></i>
            <!--<img src="../assets/images/icon/income.png" alt="Rune1">-->
            <!--<img src="../assets/images/icon/income.png" alt="Rune2">-->
        </div>
    </div>
</div>