<div class="card" [ngClass]="result ? 'win' : 'lost'">
    <div class="card-body">
        <div class="row">
            <div class="d-flex col-3 align-self-center">
                <app-setup [me]="me" [matchdata]="matchdata"></app-setup>
            </div>
            <div class="col-3 align-self-center">
                <app-kda [me]="me"></app-kda>
            </div>
            <div class="col-3">
                <app-items [me]="me"></app-items>
            </div>
            <div class="col-3 align-self-center">
                <app-teams [teams]="teams"></app-teams>
            </div>
        </div>
    </div>
</div>