<div>
    <h4 class="m-b-20">ITEMS</h4>
    <div class="d-flex">
        <div>
            <figure class="border border-dark">
                <img alt="{{me.data.stats.item0tag.attrs.alt}}" src="{{me.data.stats.item0tag.attrs.src}}">
            </figure>
            <figure class="border border-dark">
                <img alt="{{me.data.stats.item1tag.attrs.alt}}" src="{{me.data.stats.item1tag.attrs.src}}">
            </figure>

        </div>
        <div>
            <figure class="border border-dark">
                <img alt="{{me.data.stats.item3tag.attrs.alt}}" src="{{me.data.stats.item3tag.attrs.src}}">
            </figure>
            <figure class="border border-dark">
                <img alt="{{me.data.stats.item4tag.attrs.alt}}" src="{{me.data.stats.item4tag.attrs.src}}">
            </figure>

        </div>
        <div>
            <figure class="border border-dark">
                <img alt="{{me.data.stats.item2tag.attrs.alt}}" src="{{me.data.stats.item2tag.attrs.src}}">
            </figure>
            <figure class="border border-dark">
                <img alt="{{me.data.stats.item5tag.attrs.alt}}" src="{{me.data.stats.item5tag.attrs.src}}">
            </figure>
        </div>
        <div>
            <figure class="border border-dark">
                <img alt="{{me.data.stats.item6tag.attrs.alt}}" src="{{me.data.stats.item6tag.attrs.src}}">
            </figure>
        </div>
    </div>
</div>