<div>
    <h4 class="m-b-20">ITEMS</h4>
    <div class="d-flex flex-wrap">
        <div>
            <figure style="width: 55px; height: 55px; background-color: gray;" class="border border-dark">
                <img alt="{{me.data.stats.item0tag.attrs.alt}}" class="{{me.data.stats.item0tag.attrs.class}}" src="{{me.data.stats.item0tag.attrs.src}}" style="width: 55px; height: 55px;">
            </figure>
            <figure style="width: 55px; height: 55px;  background-color: gray;" class="border border-dark">
                <img alt="{{me.data.stats.item1tag.attrs.alt}}" class="{{me.data.stats.item1tag.attrs.class}}" src="{{me.data.stats.item1tag.attrs.src}}" style="width: 55px; height: 55px;">
            </figure>
        </div>
        <div>
            <figure style="width: 55px; height: 55px;  background-color: gray;" class="border border-dark">
                <img alt="{{me.data.stats.item2tag.attrs.alt}}" class="{{me.data.stats.item2tag.attrs.class}}" src="{{me.data.stats.item2tag.attrs.src}}" style="width: 55px; height: 55px;">
            </figure>
            <figure style="width: 55px; height: 55px;  background-color: gray;" class="border border-dark">
                <img alt="{{me.data.stats.item3tag.attrs.alt}}" class="{{me.data.stats.item3tag.attrs.class}}" src="{{me.data.stats.item3tag.attrs.src}}" style="width: 55px; height: 55px;">
            </figure>
        </div>
        <div>
            <figure style="width: 55px; height: 55px;  background-color: gray;" class="border border-dark">
                <img alt="{{me.data.stats.item4tag.attrs.alt}}" class="{{me.data.stats.item4tag.attrs.class}}" src="{{me.data.stats.item4tag.attrs.src}}" style="width: 55px; height: 55px;">
            </figure>
            <figure style="width: 55px; height: 55px;  background-color: gray;" class="border border-dark">
                <img alt="{{me.data.stats.item5tag.attrs.alt}}" class="{{me.data.stats.item5tag.attrs.class}}" src="{{me.data.stats.item5tag.attrs.src}}" style="width: 55px; height: 55px;">
            </figure>
        </div>
        <div>
            <figure style="width: 55px; height: 55px;  background-color: gray;" class="border border-dark">
                <img alt="{{me.data.stats.item6tag.attrs.alt}}" class="{{me.data.stats.item6tag.attrs.class}}" src="{{me.data.stats.item6tag.attrs.src}}" style="width: 55px; height: 55px;">
            </figure>
        </div>
    </div>
</div>