<div class="d-flex">
    <div class="card card-body  p-3">
        <div class="row">
            <img alt="{{champion.icontag.attrs.alt}}" class="{{champion.icontag.attrs.class}}" src="{{champion.icontag.attrs.src}}" style="width: 100px;">
            <div>
                <h1>{{champion.name}}</h1>
                <h3>{{champion.title}}</h3>
            </div>
        </div>
        <div class="row">
            <h2>Introduction</h2>
            <p>{{champion.lore}}</p>
        </div>
        <div class="row">
            <div class="col-6">
                <img alt="{{champion.splashtag.attrs.alt}}" class="{{champion.splashtag.attrs.class}}" src="{{champion.splashtag.attrs.src}}" style="width: 600px;">
            </div>
            <div class="col-6">
                <div *ngFor="let spell of spells" class="row">
                    <img alt="{{spell.icon.attrs.alt}}" class="{{spell.icon.attrs.class}}" src="{{spell.icon.attrs.src}}">
                    <h2>{{spell.name}}</h2>
                    <p>{{spell.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>